.main .result {
  font-weight: bold;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question {
  display: flex;
  flex-direction: column;
}

.row {
  margin-bottom: 8px;
}

.removeIcon {
  height: 25px;
  color: #999999; /* Grey color */
  cursor: pointer;
}

.textarea {
  width: 100%;
  height: 75px;
  resize: vertical;
  margin-bottom: 10px;
}

.settingsBg {
  height: "100%";
  width: "100%";
  padding-top:20px;
  border-left:1px solid #ddd;
}

.settingsBg .settingsItemLabel {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settingsBg .settingsItemValue {
  text-align: right;
}

.responses {
  height: calc(100vh - 200px); /* Adjust the value based on your layout */
  overflow-y: auto;
}


.responses-content {
  max-height: 100%;
  overflow-y: auto;
}

.promptAndSubmit {
  display: flex;
  align-items: center;
}

.form {
  display: flex;
  flex-grow: 1;
}

.textarea {
  flex-grow: 1;
  resize: none;
  height: 80px;
  overflow-y: hidden;
  border-radius: 5px;
  padding: 8px;
}

.sendButton {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: #007bff;
  font-size: 20px;
  margin-left: 10px;
}

.sendButtonContent {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #140083;
}

.icon {
  color: #fff;
}