.main .result {
  font-weight: bold;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question {
  display: flex;
  flex-direction: column;
}

.row {
  margin-bottom: 8px;
}

.removeIcon {
  height: 25px;
  color: #999999; /* Grey color */
  cursor: pointer;
}

.textarea {
  width: 100%;
  height: 75px;
  resize: vertical;
  margin-bottom: 10px;
}